
/*.h1{
    color:red;
}*/
/* .myrows 
{
    border:3px solid green;*/
    /* background-color: blue; */
    /* padding:5px; */
/* } */

.mycols
{
    border:3px solid yellow;
    background-color: blueviolet;
}

.mycontainer
{
    background-color: aqua;
    /* border:3px solid red; */
}
/*body{background-color: aqua;}*/

#topheader
{
    background-color: bisque;
    border-bottom: 5px solid red;

}

#topheader a 
{
    color:#34495e;
    font-weight: 500;
    font-size: 0.89rem;
}

.container-fluid
{
    /* to fit for the screen  */
    padding-left: 0;
    padding-right: 0;
}

nav ul li a
/* for bolding navbar content */
{
    font-size:3rem;
    font-weight:600;
}
/* start footer */
.full-footer
{
    background-color: #34495e;
    /* position:absolute; for placing the footer at the bootom */
    /* bottom:0;  for placing the footer at the bootom */
    /* width:100%;  for placing the footer at the bootom */

}
.top-footer p
{
    color:white;
}

.top-footer a
{
    color:white;
}
.top-footer h3
{
    color:white;
}
.bottom-footer
{
    background-color:aquamarine
}
.bottom-footer p
{
    color:white;
}
/* end:footer */
/* start: Home page first hero section */

.top-hero-section
{
    background-color:#3498db;
    color: white;
}

.top-hero-section a
{
    
    color: white;
    font-weight:600;
}

.qualities-img
{
    width:200px;
}
/* end: Home page first hero section */


/* start: homeparge 3 rd section */

.requirements-section
{
    background-color:brown;
    color:white;
}


/* start: homeparge 3 rd section */

/* start:  homepage 5th section-requirements-newsletter-sanction  */

.home-newsletter
{
    background-color:brown;
    color:white;
}

.home-newsletter .form-control
{
    height: 50px;
    border-color: black;
    border-radius: 20px 0 0 20px;

}

.home-newsletter .btn
{
    color:aqua;
    min-height: 50px;
    background: #34495e;
    border-radius: 0 20px 20px 0;

}
/* end:  homepage 5th section-requirements-newsletter-sanction  */

/* start:homepage 7th section- Our_Clients*/
.clients-section
{
    background-color: #3498db;
}

/* end:homepage 7th section- Our_Clients  */

/* end of home page  */

/* start of about us page section */

.breadcrumbs-section
{
    background-color: #3498db;

}

/* end of about us page section */

/* start of contact us page */

.forform
{
    background-color: aqua;
}
.address
{
    background-color: #3498db;
}
.address p
{
    font-weight:600 ;

}

/* end of contact us page  */

/* start of webdesingning page */

.bar 
{
    color :white;
    font-weight: 500px;
    font-size: 15px;
    border:2px solid red;
    border-radius: 10px;
}

/* end of webdesingning page */

