
/*.h1{
    color:red;
}*/
/* .myrows 
{
    border:3px solid green;*/
    /* background-color: blue; */
  /*  padding:5px;
}

.mycols
{
    border:3px solid yellow;
    background-color: blueviolet;
}

.mycontainer
{
    background-color: aqua;
    border:3px solid red;
}*/
/*body{background-color: aqua;}*/

#topheader
{
    background-color: bisque;
    border-bottom: 5px solid red;

}

#topheader a 
{
    color:#34495e;
    font-weight: 500;
    font-size: 0.89rem;
}

.container-fluid
{
    /* to fit for the screen  */
    padding-left: 0;
    padding-right: 0;
}

nav ul li a
/* for bolding navbar content */
{
    font-size:3rem;
    font-weight:600;
}
/* start footer */
.full-footer
{
    background-color: #34495e;
    /* position:absolute; for placing the footer at the bootom */
    /* bottom:0;  for placing the footer at the bootom */
    /* width:100%;  for placing the footer at the bootom */

}
.top-footer p
{
    color:white;
}

.top-footer a
{
    color:white;
}
.top-footer h3
{
    color:white;
}
.bottom-footer
{
    background-color:aquamarine
}
.bottom-footer p
{
    color:white;
}
/* end:footer */